In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(
    './data/census.csv'
)

In [3]:
df.head()

,age,workclass,fnlgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
df.shape

(32561, 15)

In [6]:
df.apply(lambda x: x.unique(),axis=0)

age                [39, 50, 38, 53, 28, 37, 49, 52, 31, 42, 30, 2...
 workclass         [ State-gov,  Self-emp-not-inc,  Private,  Fed...
 fnlgt             [77516, 83311, 215646, 234721, 338409, 284582,...
 education         [ Bachelors,  HS-grad,  11th,  Masters,  9th, ...
 education-num     [13, 9, 7, 14, 5, 10, 12, 11, 4, 16, 15, 3, 6,...
 marital-status    [ Never-married,  Married-civ-spouse,  Divorce...
 occupation        [ Adm-clerical,  Exec-managerial,  Handlers-cl...
 relationship      [ Not-in-family,  Husband,  Wife,  Own-child, ...
 race              [ White,  Black,  Asian-Pac-Islander,  Amer-In...
 sex                                                [ Male,  Female]
 capital-gain      [2174, 0, 14084, 5178, 5013, 2407, 14344, 1502...
 capital-loss      [0, 2042, 1408, 1902, 1573, 1887, 1719, 1762, ...
 hours-per-week    [40, 13, 16, 45, 50, 80, 30, 35, 60, 20, 52, 4...
 native-country    [ United-States,  Cuba,  Jamaica,  India,  ?, ...
 salary                                              [ <=50K,  >50K]
dtype: object

In [21]:
strip_columns =  df.select_dtypes('object').columns

In [15]:
df.columns = [x.strip() for x in df.columns]

In [23]:
df[strip_columns] = df[strip_columns].apply(lambda x: x.str.strip())

In [25]:
df.to_csv('./data/census_cleaned.csv',index=False)